[2019-08-06 06:45] ilyakaznacheev opened #7 "Add environment variables groups"
Add groups with prefixes and group descriptions

The group should be defined as a structure with a set of tags, which defines the structure as a group, specifies an environment variable prefix (optional) and a group description, that will be shown in help (optional).

[2019-08-06 06:47] ilyakaznacheev opened #8 "Increase test coverage"
We are trying to beat 100% test coverage :)

[2019-08-11 10:09] ilyakaznacheev opened #9 "Add .EDN support"
Add parsing from extensible data notation files

[2019-08-11 10:13] ilyakaznacheev opened #10 "Create a new logo"
Need to create a project logo and add it to the project header

[2019-12-05 09:05] ilyakaznacheev opened #12 "Fix code snippets in README"
Some code snippets have wrong formatting

[2019-12-05 09:44] ilyakaznacheev opened #15 "Add flag helper"
Need to add a helper to include a `flag` package help into the main help to build a one-line help setup.
[Example](https://github.com/ilyakaznacheev/cleanenv/blob/master/example/simple_config/example.go)

[2019-12-05 09:44] #12 closed

[2019-12-05 15:52] #15 closed

[2019-12-07 06:20] ilyakaznacheev opened #23 "Close develop branch"
It's too much for such a simple library. While there are no CI/CDs or environments bound to each branch, the `develop` branch just gives unnecessary complexity.

[2019-12-07 06:21] #8 closed

[2019-12-07 06:48] ilyakaznacheev commented on #23
Done

[2019-12-07 06:48] #23 closed

[2019-12-15 13:06] ilyakaznacheev opened #26 "Add time.Time support"
Need to check if it is possible to parse `time.Time` and add the possibility to set parsing layouts.

[2019-12-16 16:02] #10 closed

[2019-12-16 16:02] #26 closed

[2019-12-16 19:28] ilyakaznacheev opened #32 "Configure CI run at PR"
Need to run CI for PRs into the master branch

[2019-12-20 11:24] ilyakaznacheev opened #34 "Add more examples"
Need to add more examples for different cases to `example` directory.

[2020-02-04 22:18] k1ng440 opened #35 "Read from multiple sources"
Hello,
Thanks for writing this great library.

reading from multiple sources would be a great future

[2020-02-07 11:19] ilyakaznacheev opened #37 "YAML tags don't work for some users"
According to #36

`yml` tags seem not to work for some users, but `yaml` work at the same moment. Why?

[2020-02-07 11:21] ilyakaznacheev commented on #37
@LihMeh could you please share `go.mod` file of the project, where it doesn't work?

It might be a version problem.

[2020-02-07 11:54] ilyakaznacheev commented on #37
So, according to [yaml package documentation](https://godoc.org/gopkg.in/yaml.v2) the tag should be `yaml`. Probably it worked for me just because it tries to interpret global names as YAML names (i.e. `type myStruct struct { Field string }` will read from `field` in YAML file).

I've changed all occurrences of `yml` tag to `yaml`. Thank you so much for this!

[2020-02-07 11:54] #37 closed

[2020-02-25 23:00] paracha3 opened #39 "Custom Decoder would be nice!!"

[2020-03-10 09:41] MichalRybinski opened #40 "BUG: env-default overwrites value from yml file"
Wehnever env-default tag is defined, it's value overwrites value read from yml file (which is not intended behaviour, according to https://github.com/ilyakaznacheev/cleanenv#read-configuration )

100% reproducibility, observed while running go app in vagrant box (ubuntu/bionic).

configs/config.yml
[code]

config.go
[code]

main.go
[code]

it prints:
`AppC.DBConfig.MongoConfig.URL %v mongodb://loc

[2020-03-19 21:55] marcoderama commented on #40
I just stumbled over the same problem.  I also really like this package but this bug may be a deal breaker unfortunately.

[2020-03-20 00:57] marcoderama commented on #40
I've proposed a fix for this issue at https://github.com/ilyakaznacheev/cleanenv/pull/41.

Do my changes work for you @MichalRybinski ?

[2020-03-20 15:59] MichalRybinski commented on #40
Code looks ok, I'll give it a try and get back to you over the weekend.

[2020-03-30 20:24] ilyakaznacheev commented on #40
Interesting fact: GitHub doesn't send me any notification about new issues/PRs in this repo.
Thanks for that, reviewing...

[2020-03-30 20:34] ilyakaznacheev commented on #35
Thanks!
Could you give an example of the logic you're asking about?

[2020-03-30 21:31] ilyakaznacheev commented on #39
Hi @paracha3. Could you please give more context about how you want to use such a feature?

[2020-04-09 10:15] ilyakaznacheev commented on #40
@marcoderama plz make it backward compatible as I've described in the review, and we are done 🚢

[2020-04-15 14:46] burdzand commented on #40
Any feedback to fix the bug?

[2020-04-15 15:56] ilyakaznacheev commented on #40
Nope. Probably it's time for me to do it by myself.

[2020-04-21 10:26] #40 closed

[2020-04-21 10:38] ilyakaznacheev commented on #40
@MichalRybinski please update and check now

[2020-04-25 12:48] #9 closed

[2020-04-26 12:57] ilyakaznacheev commented on #32
Kinda works now

[2020-04-26 12:57] #32 closed

[2020-05-11 20:16] vlaabra commented on #35
[code]

🤷‍♂️

[2020-05-11 20:56] vlaabra commented on #39
[code]

🤔

[2020-05-11 21:19] ilyakaznacheev commented on #39
@vlaabra I need to think about it. Probably some decoder like `json.Unmarshaler` would be the better approach, but I still don't know about the usage.

Are there any examples of popular decoders, which could be used like this?

[2020-05-12 00:13] vlaabra commented on #39
[code]

i need`t, just suggestion

unlike yaml, json calls UnmarshalText and UnmarshalJSON methods if they implementing its interface

[2020-05-13 18:28] ilyakaznacheev commented on #35
@vlaabra that's already possible. Just read from any sources you want, just keep in mind that the last read may override the previous one if there is a common field in both sources.

[2020-05-13 18:32] ilyakaznacheev commented on #35
Say, you have a two config files, `cfg_1.yml`:

[code]

and `cfg_2.yml`:

[code]

Then the following code

[code]

will output

[code]

Sure if there would be `one: 123` in the second file, it would rewrite the value from the first one.

Simple enough and no side-effects 😎

[2020-05-19 08:32] ilyakaznacheev commented on #35
So, since we've figured out that it's already been implemented, I'm closing the issue.

[2020-05-19 08:32] #35 closed

[2020-05-19 08:33] ilyakaznacheev commented on #39
Okay, looks good, we'll add this

[2020-05-20 10:25] dikkini opened #46 "[Question] How to mark env variable as required?"
Hello!

Nice library.

Is there avaiable to mark config parameter as required and get error if it is not set?

[2020-05-25 20:19] ilyakaznacheev commented on #46
Thanks @dikkini

No, this is not available at the moment because my idea was that the configuration structure or configuration file contains some default values that are overwritten in a given environment as needed.

Do you think it would be a useful feature?

[2020-05-25 20:23] dikkini commented on #46
I'm afraid that without this feature it is not quite usefull library, because it is very important to know that config or env does not contain required variable and application wont work properly.

[2020-05-25 20:25] ilyakaznacheev commented on #46
Hmm, okay, I'll think about the better way to implement this.

[2020-05-25 20:25] dikkini commented on #46
I can help if u need this.

[2020-05-25 20:43] ilyakaznacheev commented on #46
Yeah, sure, I'd appreciate it.

I see it as a tag that will return an error in case the field has a default value.

Since I don't want the tags to interfere with other libraries, I'd rather call it something like `` `env-required` `` or something like that.

I don't think it makes sense to make it like `` `env: "NAME,required"` `` because we want to check not only environment variables but any dat

[2020-05-25 21:09] dikkini commented on #46
[code]
my config from project.

`env-required` - seems legit.

---

add field `IsRequired` to `structMeta` to return metas than in block:

[code]
add one more if to check new field `IsRequired`:
[code]

something like this.

[2020-05-25 21:12] ilyakaznacheev commented on #46
Looks good. Except in our case, we have to return the error.

[2020-05-25 21:15] dikkini commented on #46
I update my comment.

I miss validation for configuration file.

[2020-05-25 21:55] s3rj1k opened #47 "[Feature] Add "env-unset" variable tag for unsettling sensitive data"
Adding "env-unset" tag would allow unsettling sensitive data after successfully read it out from the environment.

[2020-05-26 11:17] ilyakaznacheev commented on #47
I'm not very familiar with this practice. Could you give me an example of how and when it applies?

[2020-05-26 15:02] s3rj1k commented on #47
@ilyakaznacheev To hide credentials from none root users when application is started from systemd (as daemon) with none root users.

That way credentials are only available to systemd (and root) in initial start of application, then after start and user change they are dropped from environment.

[2020-05-26 15:04] s3rj1k commented on #46
+1 for this, this is basically the one singe thing that needs to be added to start using library.

[2020-05-28 08:46] s3rj1k commented on #46
@dikkini @ilyakaznacheev Any updates on this?

[2020-05-28 08:56] ilyakaznacheev commented on #46
@dikkini you can do that if you want. I think, for now, it will be enough to do the simplest solution with `env-required`.

I have some ideas with custom processors (so that people can expand the library with their own logic, like #47), and perhaps as part of that change, I will somehow refine the validation.

But for now, the simplest option should be enough. So you can help to implement this fea

[2020-05-28 08:57] ilyakaznacheev commented on #46
Otherwise, I'll try to add this feature this weekend, there's just not enough time right now.

[2020-06-05 12:30] eloo opened #48 "Custom format for GetDescription"
Hi,

i really like your simple approach for env configuration and also the possibility to easily print the env variables.
But i'm not that fully happy with the multiline format for the env variables and currently its pretty hard to adjust it.
So maybe it would be useful to have a possibility to pass an own format for the description lines like
[code]
which would be create an output like this
[code

[2020-06-12 15:51] hundredwatt opened #49 "Default Values on Nested Structs"
I am attempting to use cleanenv with a nested struct and the `env-default` tag is not being applied on the child struct.

Is this something cleanenv could support?

Here's a test case replicating the issue:
[code]

[2020-06-14 18:11] #46 closed

[2020-06-14 18:12] ilyakaznacheev commented on #46
Finally done :)

[2020-06-14 18:52] ilyakaznacheev commented on #48
That's an interesting proposal, thank you.

I think the easiest thing to do would be to simply make a function that takes the formatting function as a parameter, which is where the meta-information about the structure is transmitted. But at the moment all this metainformation is implemented locally, and I don't really want to make it exportable.

On the other hand, I don't want to introduce some D

[2020-06-15 06:50] ilyakaznacheev commented on #49
It seems that the default processing logic for nested maps has not yet been implemented. Thank you for finding this error.

[2020-07-24 13:35] abakermi commented on #49
@ilyakaznacheev do u have time to implement this or you can assign me

[2020-07-24 15:35] ilyakaznacheev commented on #49
@abakermi go ahead, if you have ideas how to fix that, please send a PR :)

[2020-07-24 15:35] abakermi commented on #49
sure, thanks !

[2020-07-26 17:41] ilyakaznacheev opened #51 "Better documentation"
Documentation should give a better understanding of how to use the library and what features it has.

[2020-07-26 17:44] ilyakaznacheev opened #52 "Move CI to Github Actions"
For now, I see that Actions works a bit faster than Travis CI. and it would be easier to set up all in one place.

[2020-08-10 21:19] alok87 opened #53 "How different it is from spf13/viper?"
I was going to use viper and then stumbled on this... Want to understand the differences to make a choice.

[2020-08-14 09:17] ilyakaznacheev commented on #53
There is a huge difference in the ideas behind both.

Viper is a kinda Swiss knife for configuration - it handles a huge variety of use cases and it is massive, and many things are magically happening.

This library is about simplicity and **explicitness**, so there is no magic, maybe a bit more code and fewer features, but it keeps things simple: read config from `file_1`, then read from `file_2`

[2020-08-14 09:48] alok87 commented on #53
Cool thank you, this answers it.

Great work making it.

[2020-08-14 09:48] #53 closed

[2020-08-14 09:54] #51 closed

[2020-09-05 19:11] arunvm123 commented on #34
Is this still a requirement? I can take this up if needed.

Maybe we can discuss and decide on a list of examples that is necessary and I can add them accordingly

[2020-09-06 16:39] ilyakaznacheev commented on #34
Sure, this topic is still open.

I would be happy to discuss possible examples, so feel free to suggest.

[2020-09-09 18:42] arunvm123 commented on #34
I went through the example that is present in the repo, but I feel it does not focus on how to use the package. I was thinking more along the lines of small scripts, like the code snippets mentioned in the readme as examples. That would show specifically how to use the package and then the users can figure out how to integrate it into their projects.

what do you think? @ilyakaznacheev

[2020-09-11 06:50] ilyakaznacheev commented on #34
@arunvm123 you are right, the example shows only the basic use of the package, although there are still many useful options. Some are described in README, most are described in tests and examples in godoc, but it would be convenient to implement them as examples like this one.

[2020-09-22 07:29] arunvm123 commented on #34
I am starting to understand what you mean, but can you describe another example for me to get a better grasp of it?

[2020-09-22 20:30] ilyakaznacheev commented on #34
Sure. There are many good ways to use the library:
- parse a file;
- parse several files into the same structure or substructures;
- parse a file as default configs and then override with some environment variables;
- read different types of data from the environment;
- read a variable using custom reader/setter;
- use built-in help output;
- use customized help output;
- any combination of option

[2020-09-28 10:40] arunvm123 commented on #34
I mean what an example would like. The current one in the directory is a web server that parses a file to read in the configuration. Similarly what would another example look like?

[2020-09-30 18:44] eloo commented on #34
i would like to see an example of this
`parse several files into the same structure or substructures`

at least this is a common use case in my projects

[2020-09-30 19:16] eloo opened #55 "Add default env variable binding"
Hi,

i'm currently migrating from a combination of godotenv, uber-config and envconfig to your library because AFAIK your library is doing a good job integrating this loading mechanism into a single library without hastle.

But as i have already a decent config struct based on envconfig i see thats its pretty hard to add for every property an env tag (AFAIK this is needed).
So i would like to requ

[2020-09-30 20:51] eloo commented on #48
Hi @ilyakaznacheev
I've just check how the Usage/Description is build in envconfig.
There they use text tables which looks pretty nice and its also possible to customise it easily using the template engine.
Maybe this could be a good solution here as well.

For example the interesting code could look like this:
[code]

If you think this could be a solution for your library i would create a PR whic

[2020-10-03 12:24] arunvm123 commented on #34
Hi @eloo,
I have opened a PR with the example you asked for, maybe you can have a look at that.

@ilyakaznacheev Can you review the code and see if the example meets you requirement, if not you can suggest changes and once we decide on a list and i add more examples, you can merge it

[2020-10-03 17:13] ilyakaznacheev commented on #34
@arunvm123 sorry for the late response, I was a bit busy with work and other urgent stuff.

The review is done, a couple of notes. Great work!

[2020-10-04 15:12] arunvm123 commented on #34
Shall I add more examples from the list below in similar format?

- parse a file;
- parse several files into the same structure or substructures;
- parse a file as default configs and then override with some environment variables;
- read different types of data from the environment;
- read a variable using custom reader/setter;
- use built-in help output;
- use customized help output;

[2020-10-04 20:49] ilyakaznacheev commented on #34
@arunvm123 it would be nice if you can add more examples, but it's up to you.

More necessary would be a custom reader/setter and built-in help output, I think.

They are already described somehow in `README.md` and `example_test.go`, but it may be useful to have some examples to simply copy-paste from.

[2020-10-05 06:47] eloo commented on #34
@arunvm123
thanks for the example.. looks good to me :)

[2020-10-18 15:08] ilyakaznacheev commented on #55
@eloo The idea is good, I think about it for some time.

But there is a reason why I wouldn't want to do it: I don't want the library to act implicitly. That is, if the environment variable is read from the environment, this behavior is explicitly described in the structure tags.

But I won't close this PR to collect opinions from other users of the library, maybe for most people, it would be conv

[2020-10-18 15:11] ilyakaznacheev commented on #34
Thanks, @arunvm123, I'll review it soon

[2020-10-19 09:32] ilyakaznacheev commented on #49
Unassigned due to inactivity

[2020-10-30 08:47] ilyakaznacheev opened #60 "Add tag usage to Godoc examples"
Write a Godoc example test to show how to use all of the supported library tags.

[2020-10-31 23:26] emhagman commented on #60
Could I tackle this?

[2020-11-10 21:41] dikkini opened #61 "Problem with bool variable in YAML file"
yaml file
[code]
golang struct
[code]

i got an error `field \"IsDebug\" is required but the value is not provided"`, but if set `isdebug: true` - all ok, config parse without any errors.

[2020-11-11 12:52] dikkini commented on #61
i've make research and find place where shit happens.
`func isZero(v reflect.Value) bool`, line 559, `return !v.Bool()`, i define `'false' and this function returns true.

[2020-11-16 17:40] theArtechnology opened #62 "Add config overriding"
It would be nice if we have the possibility to override a base config.

Like:

.env.override
.config.yml.override

[2020-11-27 16:35] eloo commented on #62
I guess this can be easily achieved using the multiple files example.

Maybe you should have a look here:
https://github.com/ilyakaznacheev/cleanenv/tree/master/example/parse_multiple_files

Best regards

[2020-11-27 16:51] eloo opened #64 "Expand environment variables when reading from file"
Hi,

it would be cool if the library would support expansion of environment variables using `os.ExpandEnv`
A use-case for this feature would be if you need to construct a configuration variable based on multiple different ones.
e.g. building an URL wrong multiple environment variables

I've tried to figure out where this must be added but couldn't find the write code part.

Thanks

PS: i'm thinkin

[2020-11-29 08:59] ilyakaznacheev commented on #62
Yes, it's already possible, you just need to execute several config reads, each new read will override previous values with new ones (if there are new ones).

Simplest example: you are reading some default config from `config.yaml` and then overriding **some of them** from the environment or another config file.

[2020-11-29 09:19] ilyakaznacheev commented on #61
Hi @dikkini, this is kinda expected behavior: `false` is a [zero value](https://dave.cheney.net/2013/01/19/what-is-the-zero-value-and-why-is-it-useful) for `bool`, so it's difficult to decide from the Go perspective, was the value not provided at all, or does it have a zero value.

A possible solution is to use a pointer instead:

[code]

yep, it doesn't look so convenient, but this way you may Go

[2020-11-29 09:35] ilyakaznacheev commented on #64
An interesting feature, but I don't think that it has so many real use-cases.

Normally configuration variables provided to the application as-is from some environment - CI/CD pipeline, k8s pod, cloud environment (like Heroku), etc. That means, that the value will be either prepared _before_ it is passed as config or processed _after_ in the application.

For example, Postgres connection string, w

[2020-11-29 09:36] ilyakaznacheev commented on #64
I will leave this issue open for some time to discuss that topic and then close it.

[2020-11-29 12:16] dikkini commented on #61
You can create map for required values and check is key exists in map. What do you think?

[2020-11-29 20:46] eloo commented on #64
Hi,
the most common use case for this feature is every environment which passes configurations, secrets and other stuff as a json in one env-variable.
This is at least done in CloudFoundry and as far as i know also in AWS.

If i would use the custom setter if would need to have for every property one if see this correctly. This doesn't sound like a good option.

If i would implement the translatio

[2020-11-30 08:28] eloo commented on #64
Further i've just discovered that the custom setter will not be invoked when the configuration is loaded from YAML.
Is this intended or is it a bug?

Thanks

[2020-12-01 10:14] dikkini commented on #61
And i pretty sure that other libraries dont have problems with negative bool variables, but this library does not allow it's users to use negative bool variable - it means - it does not support bool variables at all.

[2020-12-01 11:16] dikkini commented on #61
I agree, but use bool variable without PTR useless, so is it worth to write about it in README?

Thank you, pointer resolve my problem, if you want - you can close this issue. Thanks for reply!

[2020-12-01 13:26] ilyakaznacheev commented on #61
@dikkini its because you have a double pointer to `AppConfig ` here

[2020-12-23 07:10] ilyakaznacheev commented on #64
Looks like a bug, I will check. Thanks!

[2021-01-20 23:46] marcoderama opened #66 "Any plans to move to yaml v3?"
I would like to use `yaml.Node` in my config files but have found they don't work with cleanenv.  As an experiment, I changed the import in `cleanenv.go` to use yaml v3 instead and things with `yaml.Node` started working.  I did no testing otherwise though.

So, I'm curious, any plans to move to yaml v3?

[2021-01-25 20:55] Dombo commented on #49
This applies for all tags as far as I can tell, for example `env-required` does not validate on nested structs either. Logical but worth pointing out I felt, love the library by the way.

[2021-02-11 15:35] stoffeastrom opened #67 "Value containing `.` always clipped"
Trying to read a value that contains `.` and it doesn't matter what I set the `env-separator` to. It gets clipped anyway.

Am I using it wrong or this a bug?

[2021-02-11 15:50] stoffeastrom commented on #67
This seems to be when reading a `.env` file. Converting to `yaml` and it works

[2021-02-15 01:21] lukluk opened #68 "this will not work for private attributes"

[2021-02-22 12:52] AlexanderKudzevich commented on #61
Hello. There is any way to use it with "env-default"? Is there any other solution for using bool type?

[2021-02-25 11:33] kz commented on #68
I ran into this problem too, and I notice Kelsey Hightower's envconfig package also does not check whether the field you are attempting to set is unexported. Assuming there is no other case where a developer would set the `env` tag on an unexported field other than intending for that field to be exported, should unexported fields with `env` tags throw errors? (https://groups.google.com/g/golang-nu

[2021-03-01 18:26] ilyakaznacheev commented on #68
This is a standard and expected behavior of Golang - library cannot read unexported fields from another package.

The expected behavior it that such fields will be ignored.

[2021-03-01 18:26] #68 closed

[2021-03-01 18:27] ilyakaznacheev commented on #66
Is it backwards compatible with v2?

[2021-03-01 18:28] ilyakaznacheev commented on #67
Please give some example, I'll check.

[2021-03-01 18:30] ilyakaznacheev commented on #61
No, the pointer is the only way I know to differentiate between true, false and "not provided" in this case.

[2021-03-01 18:36] ilyakaznacheev commented on #55
So I've decided to close the issue because of no other feedback.

Yes that feature is useful, but I have bad experience with libraries "magically" combining names of environment variables.

I also would like to stay with the idea of clean and simple config (as the library name says). It may me some copy-and-paste, but the code will be easy to read and env variables will be easy to search.

[2021-03-01 18:36] #55 closed

[2021-03-01 21:29] stoffeastrom commented on #67
Actually, can't reproduce this anymore. I'll reopen with an example if I'm able to reproduce

[2021-03-01 21:29] #67 closed

[2021-03-01 21:32] ilyakaznacheev commented on #67
Good luck with that 🙂

[2021-03-17 00:30] mhSangar commented on #61
Regarding this issue, I'm trying to print the description of `bool` variables that have an `env-default:false`, but their description and default values are not being shown.

[code]

[code]

Is it related? Is there a fix for this? I don't think I can use pointers in my case, as I'm reading from a literal value.

[2021-03-18 20:55] baldator opened #69 "env-default bool value"
Hi,

I'm experiencing a strange behavior and I'd like to understand if it's the expected behavior or a bug (in that case I can create a PR and fix it).
I do have a bool field in my config and the env-default value is true. If I define the field in my config file to false I would expect the value to be set to false, but I get true.

I looked in the code and the isZero function is considering false

[2021-04-13 13:38] ilyakaznacheev commented on #69
Hi Marco,

This is kinda expected behavior for now because there is no way to differentiate `false` as an empty/absent field and `false` as a field value after the file parsing process.

It is technically possible but requires to write own parser (for each supported format). And this is not what I want to do as a part of this library (and not as a part of my life).

So unfortunately the only way,

[2021-04-13 13:38] #69 closed

[2021-04-13 13:39] ilyakaznacheev commented on #62
Closed due to inactivity, probably solved.

[2021-04-13 13:39] #62 closed

[2021-04-13 13:41] ilyakaznacheev commented on #61
@mhSangar it has to be quoted, this is how tags in Golang work

[2021-04-13 13:42] ilyakaznacheev commented on #61
Closed because no better way to differentiate missing bool field and false bool field found. Use bool pointer.

[2021-04-13 13:46] ilyakaznacheev commented on #47
What you mean by "hide"?

The library only reads configs, not prints them or something like that. Hiding sensitive data from users is far beyond its scope.

[2021-04-13 14:20] s3rj1k commented on #47
Setting private information inside env, this info will still be accessible from application and even from /proc/PID/environ.

By hiding I mean, unsetting env key that contains sensitive information.

You could say that this is not in scope of library, but without this, using library doesn't make much sense.
One would still have to manage env so why not manage all envs.

Feel free to close if you t

[2021-04-13 16:04] ilyakaznacheev commented on #47
The library doesn't manage the environment. It only reads from env variables, and only if it was chosen as a source of data.

You may try to use a custom setter to unset the environment variable there.

I will think about adding some kind of middleware with more metainfo on input.

[2021-04-18 06:46] azaz5959 opened #72 "Map of string to array of strings"
How can we use map of string to array of strings in ENV?
Suppose we have :
`MapStringArrayString map[string][]string `env:"TEST_MAPSTRINGARRAYSTRING"``
Is it even possible with current implementation?

[2021-05-23 16:31] amir-blox opened #75 "Custom functions are not running for values from files"
I've noticed that when reading a config file with a field that is not available in env, its [custom function](https://github.com/ilyakaznacheev/cleanenv#custom-functions) won't run.

The reason seems to be that for these kind of fields, `parseValue` won't be called and therefore the corresponding custom function.

Custom functions runs only if the field was provided as an env argument or with a ze

[2021-07-14 19:19] sriramkp opened #77 "Not able load the config.yml file"
I am new to AWS and Multi Docker Container.
Not able load config.yml and I don't know how to configure Dockerrun.aws.json to make sure the config.yml file is accessible in the docker container.

[code]

[2021-07-22 21:00] ilyakaznacheev commented on #77
I'm not sure that the library has something in common with AWS and Multi Docker Container.

Probably you have to copy the config file from the host to the container stage where your CMD or ENTRYPOINT is.

[2021-07-22 21:03] ilyakaznacheev commented on #77
You can check if the `config.yml` is present in the desired Docker stage by simply running.
[code]

As soon it will work, your application will be able to read the file too.

I will close the issue as it is not related to the library itself, but to Docker usage skills, but feel free to tag me in the discussion if you will be ready to provide more examples.

[2021-07-22 21:03] #77 closed

[2021-07-22 21:07] ilyakaznacheev commented on #75
Thanks, marked to be fixed.

Feel free to send a PR with a fix if you have ideas on how to fix that! I had huge issues with free time last months, so not sure when I will fix that by myself.

[2021-07-22 21:51] ilyakaznacheev commented on #72
It is not supported by design, but you can do it now by means of some little tricks.

The library can parse nested structures from environment string variables, but parsing a map of string slices is a tricky one.
The library was designed to parse simple types (not nested), so there is nothing like dynamic parsing (like JSON, etc.), so the library tries to define the type of the variable and then p

[2021-07-22 21:51] #72 closed

[2021-07-22 21:53] ilyakaznacheev commented on #64
Looks that #75 is the same bug

[2021-07-22 21:57] ilyakaznacheev commented on #64
Will close this one prior to the issue with a better bug explanation.

As for environment variables expansion support - no such planes yet, I'm trying to keep the library as simple as possible.

But I'm thinking about a more flexible extension solution, so users will be able to cover more complex cases on their own.

[2021-07-22 21:57] #64 closed

[2021-07-22 21:57] ilyakaznacheev commented on #52
Done

[2021-07-22 22:01] ilyakaznacheev commented on #47
So the solution - do not pass sensitive data with environment variables, use config files instead. You can remove the file just after the app started, so the requirements will be met. You can do that directly from the app.

And yes, it is not in the scope of the library, but you can easily achieve it like as I said before.

[2021-07-22 22:01] #47 closed

[2021-07-22 22:02] ilyakaznacheev commented on #34
Like it's enough examples for now, maybe I'll reopen it before hacktoberfest for more fun.

[2021-07-22 22:02] #34 closed

[2021-07-29 14:13] kha7iq opened #78 "disable github workflow for pull request"
Github repo secrets are only shard among contributors, and based on recent changes by GH, workflow does not run automatically for unknown contributors as well.
In this case its better to disable the workflow for notification on pull request, either by deleting [pull_request.yml](https://github.com/ilyakaznacheev/cleanenv/blob/master/.github/workflows/pull_request.yml) or commenting out the content

[2021-08-09 18:05] nevian427 opened #79 "if file parse err no config read at all"
Hi,

If file doesn't exists or corrupted - nothing got at all. TOML/ENV can be empty (null) to be ok all others - fail.
Expected to get params from env and/or default env

[code]

[2021-09-27 12:12] DHorrible opened #81 "Optional value (ptr) via env"
Hello, I have used the lib for building config from env and a file. If I created field as pointer then I thought that it is as optional and it is not bound (nil value). When I set value for pointer field in a config file my logic is gone well, but if I set via env variable then my program throw exception ("unsupported type .")

[code]

I think that 'cleanenv' have to implement same logic with env

[2021-10-12 22:28] mrazimi99 opened #82 "False value in json file"
I'm trying to fill a required boolean field in the JSON file, but when the value is `false`, the following error raises:
```field "boolVarName" is required but the value is not provided```.
But when I change the value to `true`, everything goes well.

I think the issue is in the condition of line 316 of `cleanenv.go`, or the condition of line 329 where you check `meta.isFieldValueZero()`.

[2021-11-08 10:27] mbauroth01 commented on #79
Agree. Would be great to get this working even in absence of a yaml file!

[2021-11-27 00:33] pkierski commented on #82
You can use pointer for required values with proper zero values.
[code]

[2021-11-27 11:18] mrazimi99 commented on #82
Thank you, it works.
Although I think the main problem still exists and can be solved.

[2021-11-29 11:07] pkierski commented on #82
Some "no value" is required for detecting  non-existent but required fields. Zero value is not so good idea, especially for `bool`. Pointer with `nil` as "no value" is quite good choice, but `env-required:"true"` should be forbidden for non-pointer types. So `isFieldValueZero()` should be transformed into `isFieldValueNil()` and should be check for `*Type` fields only.

Anther problem is lack of s

[2022-01-20 08:43] nononsensecode opened #85 "Time layout does not have any effect for yaml"
Below given is the configuation file

`type Config struct {
	Order struct {
		Date         time.Time     `yaml:"date" env:"ORDER_DATE" env-layout:"02/01/2006 03:04:05 PM"`
		SubtractTime time.Duration `yaml:"subtime" env:"SUB_TIME"`
	}
}`

Below is the yml file

`order:
  date: 17/01/2022 10:00:00 AM
  subtime: 5m`

I am getting the following error:
`config file parsing error: parsing time "Mon Ja

[2022-01-24 14:32] dlsrb6342 opened #86 "read config from io.Reader"
I want to use embed config files. But `ReadConfig()` only use file path.
If I can use `io.Reader` for `parseFile()` like below, it would be nice. What do you think?

Or, If there is any way to use embed files, please let me know.

[code]

[2022-01-27 16:46] olya-varentsova opened #87 "Error after reading time.Duration fields in 1.2.6"
Hello, I used v1.2.5 and alway gone all right. But problems with time field has appeared in 1.2.6.
I have this pattern error:
  `line N: cannot unmarshal !!int `M` into time.Duration`.
I have config same as:
[code]

[2022-02-05 13:03] AM-NiceDay opened #88 "Add a custom error that would provide a meaningful feedback about the parsing issues."
For the following example, if I provide a non-valid `PORT=asd`. Then in the error message, I would see "strconv.ParseInt: parsing "asd": invalid syntax". I think it would be great to have a custom error that would collect and provide some details on the type of error that happened to be able to write it to the log and give corresponding feedback to the runner of the application.

[code]

[code]

T

[2022-03-04 23:19] marcoderama commented on #66
It looks like this was done in release 1.2.6.

[2022-03-16 04:05] imraan-go opened #89 "Can not overwrite variable"
I'm having hard time overrriding a value from enviroment variable. Here is what I want. I want to read config from a enviroment  file. Then read enviroment varialbes and overwrite them even If they exist in the config file. The following code does not overwrite value from enviroment varialbe as it supposed to:

[code]
Even witih `cleanenv.UpdateEnv` It still does not work. To my understanding, Eac

[2022-04-26 11:46] alexTheJumbo opened #90 "Can't read config file in Amazon EC2 server"
This is how I'm simply reading the config file:
[code]
This is working on a my local machine (Mac) and in Docker container running locally.
But when I run the app on EC2 (built as RPM package and ran as a service), I get this error:
[code]
The very same code runs well when I parse the config using a library like `jessevdk/go-flags`.
Any idea?

[2022-05-13 11:49] sTb1337 commented on #89
*bump* I also get this error but with  env-required.

[2022-05-13 11:55] sTb1337 commented on #89
@imraan-go I think the documentation is not up to date. If you have a look at the unit tests , its working -> https://github.com/ilyakaznacheev/cleanenv/blob/master/cleanenv_test.go#L77

[2022-05-26 03:41] luthfimasruri commented on #87
I have the same issue here, btw did manage to handle it?

[2022-08-18 09:28] ilyakaznacheev commented on #90
Could you please investigate the case? I have no EC2 environment currently to do so.

[2022-08-18 09:50] ilyakaznacheev commented on #89
Well, the answer is simple - when you use an environment file, it actually sets the environment variables according to the data in the file. So basically you override the existing environment with k-v pairs from this file.

This is kinda unclear, so I'll add this to the documentation.

There is a good question, should read the .env file and set the values to the actual environment? My opinion is y

[2022-08-18 10:08] #89 closed

[2022-08-18 10:11] ilyakaznacheev commented on #89
Anyway, it looks like a bit of a side effect, I'll think about how to fix that without breaking existing apps.

[2022-10-02 08:20] ilyakaznacheev commented on #66
Closed in #71

[2022-10-02 08:20] #66 closed

[2022-10-05 14:36] pansachin commented on #75
👋🏻 @ilyakaznacheev I would love to take a look at this. Could you assign this to me? Thanks!

[2022-10-07 08:08] ilyakaznacheev opened #101 "Create a version compatibility policy"
It's obvious now that we don't want to support very old versions and at the same time, we want to use new stuff released with newer versions of Go.

I really want to make it easier for everyone to use the library even with older projects, so I'll make it formal and describe the number of supported versions and add them to the test version matrix.

[2022-10-08 14:59] #101 closed

[2022-10-11 07:34] illiafox commented on #85
`env-layout` tag affects only environmental variables, because [yaml parsing](https://github.com/ilyakaznacheev/cleanenv/blob/master/cleanenv.go#L168) is done by the [other library](https://github.com/BurntSushi/toml)

[2022-10-16 10:43] 838239178 commented on #68
@ilyakaznacheev
[code]

It doesn't skip unexport field

[2022-10-17 06:53] ilyakaznacheev commented on #68
@838239178 can you provide a code example, please?

[2022-10-17 06:54] ilyakaznacheev commented on #68
Better create a new issue with an example and detailed error and environment description. Thanks

[2022-10-19 02:10] 838239178 opened #105 "Didn't skip unexported field"
@ilyakaznacheev

[code]

It doesn't skip unexported field

_Originally posted by @838239178 in https://github.com/ilyakaznacheev/cleanenv/issues/68#issuecomment-1279943050_

## Example

[code]

[2022-10-19 02:13] 838239178 commented on #105
I suggest to add '-' as ignore tag

[2022-10-19 02:17] 838239178 commented on #105
This function doesn't check whether field can interface or can't

[code]

[2022-10-27 16:58] byted opened #106 "Apply Custom Value Setters to custom struct types"
I realized that a `SetValue()` defined on a custom struct type is never called. Insted, the struct is flattened. This prevents me from parsing e.g., a yaml string from an ENV variable:

[code]

Is this something that can be added? Or is there a different way of achieving the same thing?

[2022-11-07 10:19] ilyakaznacheev commented on #105
Thanks, I'll check

[2022-11-08 07:37] ilyakaznacheev commented on #75
@pansachin sure, thanks